@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #1A1615;
}

/* #root {
  padding-inline: 10px;
}

@media (min-width: 425px) {
  #root {
    padding-inline: 50px;
  }
}

@media (min-width: 768px) {
  #root {
    padding-inline: 120px;
  }
} */