@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply contents;
  }

  html {
    @apply h-full antialiased scroll-smooth;
  }

  body {
    @apply h-full bg-jet;
  }

  #root {
    @apply h-full;
  }
}

.scrollbar {
  scrollbar-color: #444654 #343541;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #444654;
  border: 2px solid #343541;
  border-radius: 12px;
}